{% extends "index.html" %}
{% block title %}Contact{% endblock %}
{% block list %}
<div class="lead">
    Thank HVN and everyone hmu hmu.
    <img src="https://e7.pngegg.com/pngimages/615/10/png-clipart-meme-pepe-the-frog-takamol-holding-sticker-meme-vertebrate-cartoon.png" style="width: 16px; height: 16px">
    I luv pymi
</div>
<main class="px-3">
<img src="https://i.ibb.co/CvFgsX0/71601f9ca0ac64f23dbd.jpg" style="width: 350px; height: 450px">
</main>
<footer class="mt-auto text-white-50">
    <div>
        <p>Hoang Trung</p>
        <p>Address: HaNoi</p>
        <p><a href="https://www.facebook.com/htrung810/">Facebook</a></p>
    </div>
</footer>
{% endblock %}